[Unit]
Description=audioserver system update script
ConditionPathExistsGlob=/settings/system.version

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/system-update.sh

[Install]
WantedBy=multi-user.target
